# APIs Lab
In this lab we will practice using APIs to retrieve and store data.

In [2]:
# Imports at the top
import json
import urllib
import pandas as pd
import numpy as np
import requests
import json
import re
import matplotlib.pyplot as plt
%matplotlib inline

import urllib2
from bs4 import BeautifulSoup

## Exercise 1: IMDB Movies

Sometimes an API doesn't provide all the information we would like to get and we need to be creative.
Here we will use a combination of scraping and API calls to investigate the ratings and gross earnings of famous movies.

## 1.a Get top movies

The Internet Movie Database contains data about movies. Unfortunately it does not have a public API.

The page http://www.imdb.com/chart/top contains the list of the top 250 movies of all times. Retrieve the page using the requests library and then parse the html to obtain a list of the `movie_ids` for these movies. You can parse it with regular expression or using a library like `BeautifulSoup`.

**Hint:** movie_ids look like this: `tt2582802`

In [3]:
#get website information
soup = BeautifulSoup(urllib2.urlopen('http://www.imdb.com/chart/top'))

/Users/dnay/anaconda/lib/python2.7/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 174 of the file /Users/dnay/anaconda/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [4]:
#grab table that holds all the movie info
table = soup.find_all('tbody', class_='lister-list')

In [5]:
#make empty list to hold all the info
movie_ids = []

In [6]:
for id1, row in enumerate(table):
    #finding all poster images
    for id2, hello in enumerate(row.find_all('td', class_='posterColumn')):
        #print img['src']
        for id3, a in enumerate(hello.find_all('a')):
            movie_ids.append(a['href'].split("/")[2])

## 1.b Get top movies data

Although the Internet Movie Database does not have a public API, an open API exists at http://www.omdbapi.com.

Use this API to retrieve information about each of the 250 movies you have extracted in the previous step.
- Check the documentation of omdbapi.com to learn how to request movie data by id
- Define a function that returns a python object with all the information for a given id
- Iterate on all the IDs and store the results in a list of such objects
- Create a Pandas Dataframe from the list

In [7]:
movvvies = []

In [8]:
#for i in movie_ids:
def movie_info():
    for i in movie_ids:
        q = urllib.urlopen('http://www.omdbapi.com/?i='+i+'&plot=short&r=json').read()
        moviee = json.loads(q)
        movvvies.append(moviee)
    #return urllib.urlopen('http://www.omdbapi.com/?i='+id+'&plot=short&r=json').read()
movie_info()

In [9]:
DFmovie = pd.DataFrame(movvvies)

In [10]:
# rated = "NOT RATED"
# metascore: "N/A"

## 1.c Get gross data

The OMDB API is great, but it does not provide information about Gross Revenue of the movie. We'll revert back to scraping for this.

- Write a function that retrieves the gross revenue from the entry page at imdb.com
- The function should handle the exception of when the page doesn't report gross revenue
- Retrieve the gross revenue for each movie and store it in a separate dataframe

In [11]:
base = 'http://www.imdb.com'
stuff_with_gross = []
#it will restart at table every time
for id1, row in enumerate(table):
    #this is to find all the links that we'll want
    for id2, td in enumerate(row.find_all('td', class_='titleColumn')):
        found = False
        #this is where we are grabbing the next link from
        for id3, a in enumerate(td.find_all('a')):
            new_link = base + a['href']
            #print new_link
            soup1 = BeautifulSoup(urllib2.urlopen(new_link, "lxml").read())
            for id4, p1 in enumerate(soup1.find_all('div', class_='txt-block')):
                if 'Gross' in p1.text:
                    #print p1
                    x = p1.text.split("$")[1].split(" ")[0]
                    x.replace(",","")
                    stuff_with_gross.append(x)
                    found = True
        if not found:
            stuff_with_gross.append(0.0)

## 1.d Data munging

- Now that you have movie information and gross revenue information, let's clean the two datasets.
- Check if there are null values. Be careful they may appear to be valid strings.
- Convert the columns to the appropriate formats. In particular handle:
    - Released
    - Runtime
    - year
    - imdbRating
    - imdbVotes
- Merge the data from the two datasets into a single one

In [12]:
#add gross totals to dataframe
DFmovie['Gross'] = stuff_with_gross
DFmovie.head()

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,...,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes,Gross
0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Nominated for 7 Oscars. Another 18 wins & 30 n...,USA,Frank Darabont,"Crime, Drama",English,80,Two imprisoned men bond over a number of years...,https://images-na.ssl-images-amazon.com/images...,R,...,True,142 min,The Shawshank Redemption,movie,"Stephen King (short story ""Rita Hayworth and S...",1994,tt0111161,9.3,"1,711,064","28,341,469"
1,"Marlon Brando, Al Pacino, James Caan, Richard ...",Won 3 Oscars. Another 23 wins & 27 nominations.,USA,Francis Ford Coppola,"Crime, Drama","English, Italian, Latin",100,The aging patriarch of an organized crime dyna...,https://images-na.ssl-images-amazon.com/images...,R,...,True,175 min,The Godfather,movie,"Mario Puzo (screenplay), Francis Ford Coppola ...",1972,tt0068646,9.2,"1,177,812","134,821,952"
2,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",Won 6 Oscars. Another 10 wins & 20 nominations.,USA,Francis Ford Coppola,"Crime, Drama","English, Italian, Spanish, Latin, Sicilian",80,The early life and career of Vito Corleone in ...,https://images-na.ssl-images-amazon.com/images...,R,...,True,202 min,The Godfather: Part II,movie,"Francis Ford Coppola (screenplay), Mario Puzo ...",1974,tt0071562,9.0,"807,734","57,300,000"
3,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Won 2 Oscars. Another 146 wins & 142 nominations.,"USA, UK",Christopher Nolan,"Action, Crime, Drama","English, Mandarin",82,When the menace known as the Joker wreaks havo...,https://images-na.ssl-images-amazon.com/images...,PG-13,...,True,152 min,The Dark Knight,movie,"Jonathan Nolan (screenplay), Christopher Nolan...",2008,tt0468569,9.0,"1,699,835","533,316,061"
4,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",Nominated for 3 Oscars. Another 16 wins & 8 no...,USA,Sidney Lumet,"Crime, Drama",English,N/A,A jury holdout attempts to prevent a miscarria...,https://images-na.ssl-images-amazon.com/images...,APPROVED,...,True,96 min,12 Angry Men,movie,"Reginald Rose (story), Reginald Rose (screenplay)",1957,tt0050083,8.9,"455,987",0

In [13]:
#clean up metascore and rated
total = 0
count = 0
for i in DFmovie['Metascore']:
    try:
        i = int(i)
        total += i
        count += 1
    except:
        continue
avg =  float(total) / count    
DFmovie['Metascore'] = [str(x) for x in DFmovie['Metascore']]    
DFmovie['Metascore'] = [x.replace("N/A", str(avg)) for x in DFmovie['Metascore']]

In [14]:
#convert types
DFmovie['Metascore'] = pd.to_numeric(DFmovie['Metascore'])

In [15]:
DFmovie['Rated'].value_counts()

R            103
PG            38
PG-13         31
NOT RATED     25
APPROVED      20
G             12
UNRATED       10
PASSED         6
N/A            4
M              1
Name: Rated, dtype: int64

In [16]:
#convert to strings
DFmovie['Rated'] = [str(x) for x in DFmovie['Rated']]

In [17]:
#change N/A to Not Rated
DFmovie['Rated'] = [x.replace("N/A", "Not Rated") for x in DFmovie['Rated']]

In [18]:
#remove "min" from runtime
DFmovie['Runtime'] = [x.replace("min","").strip() for x in DFmovie['Runtime']]

In [19]:
#Deal with N/A in released
DFmovie[DFmovie['Released'] == 'N/A']['Released'] = "01 Jan 1925"

/Users/dnay/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [30]:
#N/A is at index 135
DFmovie.loc[135,'Released'] = "01 Jan 1925"

Empty DataFrame
Columns: [Actors, Awards, Country, Director, Genre, Language, Metascore, Plot, Poster, Rated, Released, Response, Runtime, Title, Type, Writer, Year, imdbID, imdbRating, imdbVotes, Gross]
Index: []

[0 rows x 21 columns]

In [21]:
# replace commas
DFmovie['imdbVotes'] = [x.replace(",", "") for x in DFmovie['imdbVotes']]

In [31]:
DFmovie['Released'] = pd.to_datetime(DFmovie['Released'], format='%d %b %Y')

In [23]:
DFmovie['Runtime'] = pd.to_numeric(DFmovie['Runtime'])
DFmovie['Year'] = pd.to_numeric(DFmovie['Year'])
DFmovie['imdbRating'] = pd.to_numeric(DFmovie['imdbRating'])
DFmovie['imdbVotes'] = pd.to_numeric(DFmovie['imdbVotes'])

In [24]:
# replace commas
DFmovie['Gross'] = [str(x).replace(",", "") for x in DFmovie['Gross']]
DFmovie['Gross'] = pd.to_numeric(DFmovie['Gross'])

In [32]:
#avg1 = sum(DFmovie[DFmovie['Gross'] != 0]['Gross']) / len(DFmovie[DFmovie['Gross'] != 0]['Gross'])
# a = np.median(DFmovie[DFmovie['Gross'] != 0]['Gross'])
# DFmovie['Gross'].replace(0, a)

#replace with median is a better idea
median = np.median(DFmovie[(DFmovie.Gross) != 0.0]["Gross"])

DFmovie.loc[DFmovie.Gross == 0, 'Gross'] = median

In [33]:
DFmovie.head()

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,...,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes,Gross
0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Nominated for 7 Oscars. Another 18 wins & 30 n...,USA,Frank Darabont,"Crime, Drama",English,80.00000,Two imprisoned men bond over a number of years...,https://images-na.ssl-images-amazon.com/images...,R,...,True,142,The Shawshank Redemption,movie,"Stephen King (short story ""Rita Hayworth and S...",1994,tt0111161,9.3,1711064,28341469.0
1,"Marlon Brando, Al Pacino, James Caan, Richard ...",Won 3 Oscars. Another 23 wins & 27 nominations.,USA,Francis Ford Coppola,"Crime, Drama","English, Italian, Latin",100.00000,The aging patriarch of an organized crime dyna...,https://images-na.ssl-images-amazon.com/images...,R,...,True,175,The Godfather,movie,"Mario Puzo (screenplay), Francis Ford Coppola ...",1972,tt0068646,9.2,1177812,134821952.0
2,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",Won 6 Oscars. Another 10 wins & 20 nominations.,USA,Francis Ford Coppola,"Crime, Drama","English, Italian, Spanish, Latin, Sicilian",80.00000,The early life and career of Vito Corleone in ...,https://images-na.ssl-images-amazon.com/images...,R,...,True,202,The Godfather: Part II,movie,"Francis Ford Coppola (screenplay), Mario Puzo ...",1974,tt0071562,9.0,807734,57300000.0
3,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Won 2 Oscars. Another 146 wins & 142 nominations.,"USA, UK",Christopher Nolan,"Action, Crime, Drama","English, Mandarin",82.00000,When the menace known as the Joker wreaks havo...,https://images-na.ssl-images-amazon.com/images...,PG-13,...,True,152,The Dark Knight,movie,"Jonathan Nolan (screenplay), Christopher Nolan...",2008,tt0468569,9.0,1699835,533316061.0
4,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",Nominated for 3 Oscars. Another 16 wins & 8 no...,USA,Sidney Lumet,"Crime, Drama",English,79.95122,A jury holdout attempts to prevent a miscarria...,https://images-na.ssl-images-amazon.com/images...,APPROVED,...,True,96,12 Angry Men,movie,"Reginald Rose (story), Reginald Rose (screenplay)",1957,tt0050083,8.9,455987,51600000.0

In [34]:
DFmovie.dtypes

Actors                object
Awards                object
Country               object
Director              object
Genre                 object
Language              object
Metascore            float64
Plot                  object
Poster                object
Rated                 object
Released      datetime64[ns]
Response              object
Runtime                int64
Title                 object
Type                  object
Writer                object
Year                   int64
imdbID                object
imdbRating           float64
imdbVotes              int64
Gross                float64
dtype: object

## 1.e Text vectorization

There are several columns in the data that contain a comma separated list of items, for example the Genre column and the Actors column. Let's transform those to binary columns using the count vectorizer from scikit learn.

Append these columns to the merged dataframe.

**Hint:** In order to get the actors name right, you'll have to modify the `token_pattern` in the `CountVectorizer`.

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer(max_features = 50,
                             ngram_range=(1, 2),
                             stop_words='english',
                             binary=True)

X_plot = pd.DataFrame(v.fit_transform(DFmovie['Plot']).todense(), columns=v.get_feature_names())
X_plot.head()

,american,boy,child,city,corruption,crime,dead,death,empire,family,...,war,war ii,way,wife,woman,work,world,world war,year,young
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
v = CountVectorizer(max_features = 100,
                             ngram_range=(2, 2),
                             stop_words='english',
                             binary=True,
#                            tokenizer=lambda x: x.split(', '))
                             token_pattern='\\b\\w+\\b')

X_Actors = pd.DataFrame(v.fit_transform(DFmovie['Actors']).todense(), columns=v.get_feature_names())

In [40]:
v = CountVectorizer(max_features = 1000,
#                              ngram_range=(1, 2),
                             stop_words='english',
                             binary=True,
                             token_pattern=u'(?u)\\b\\w\\w+\\b')

X_genre = pd.DataFrame(v.fit_transform(DFmovie['Genre']).todense(), columns = v.get_feature_names())

In [45]:
# Merging all the dataframes
imdb = pd.concat([DFmovie, X_Actors, X_genre, X_plot], axis=1, join_axes=[DFmovie.index])
imdb.shape

(250, 195)

## Exercise 2: Showing Our Data

We did all that hard work. Let's show it to the world! First save your .csv file.

```
df.to_csv('imdb.csv', sep='\t', encoding='utf-8')
```

In [46]:
imdb.to_csv('imdbb.csv', sep='\t', encoding='utf-8')

## 2.a Add model

Add a new model to the models.py file in your website folder. It should contain each movie's meta data such as rank, summary, genre, and rating. Here is an example of a movies model.

```
class TopMovies(models.Model):
    name = models.CharField(max_length=200)
    rank = models.IntegerField(default=-1)
    created = models.DateTimeField(auto_now_add=True, blank=True)
```

## 2.b Add Url
Add the following path to your url.py file.

```
url(r'^imdb/top/$', views.imdb, name='imdb')
```

## 2.c Create View

Create your view. Remember you need to name it imdb! Your view should contain the following logic:

- If your imdb database has no values in it
    - Open up your imdb.csv file and populate the model
- Retrieve model and show the data on your webpage

## 2.d Create Template

Link a new template to your view. Your template must do the following things:

- Use a table, rows, and columns to organize your data
- Have a different background color besides white
- Show your image poster links as images

## 2.e Submit Url

Paste your new url below

https://protected-basin-78104.herokuapp.com/site/imdb/top